body {
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 28pt;
}

.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
}

.sidenav a {
    display: block;
    color: #FFD800;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #222222;
    padding: 10px;
}

.sidenav a:hover {
    background-color: #555555;
}

.sidenav a img{
    width: 60px;
    height: 60px;
}

.content {
    position: absolute;
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.content #bar {
    float: left;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 18pt;
}

.content #bar img{
    float: left;
    margin: 10px 50px 10px 10px;
    height: 200px;
    width: 200px;
}

.panel-default {
    position: absolute;
    top: 250px;
    margin: 10px;
    width: 30%;
}

.panel-default > .panel-heading {
    font-size: 30pt;
    text-align: center;
}

.panel-default > .panel-content {
    font-size: 20pt;
    padding: 20px;
    text-align: center;
}